:root {
  --blue: #2196f3;
  --black: #212121;
  --logo-color: #000000;
  --grey: #757575;
  --white: #ffffff;
  --graphite: #2f303a;
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto";
  color: var(--black);
}
header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  padding: 25px 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}
.container-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.container-menu-logo-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-decoration-line: none;
  margin-right: 93px;
}
.navigation-logo-web {
  color: var(--blue);
  text-decoration-line: none;
}
.navigation-logo-web-studio {
  color: var(--black);
  text-decoration: none;
}
.navigation-list .list {
  list-style-type: none;
  display: flex;
}
.list {
  display: flex;
  align-items: center;
}
.navigation-list-item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  color: #212121;
  text-decoration: none;
  margin-right: 46px;
}
.header-address {
  background: var(--white);
  display: flex;
}
.header-address {
  display: flex;
  align-items: center;
}
.main-menu {
  list-style-type: none;
  display: flex;
}
.main-menu .list {
  display: flex;
  align-items: center;
}
.navigation-list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: #757575;
  list-style-type: none;
  text-decoration: none;
  margin-left: auto;
}
a {
  text-decoration: none;
}
.navigation-list .tel {
  margin-left: 50px;
  margin-right: auto;
}
.main-header {
  background: #2f303a;
  padding: 200px 0px;
  text-align: center;
}
.title1 {
  font-family: "roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  max-width: 696px;
  margin: 0 auto 30px;
}
.button-webstudio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  padding: 10px 42px;
  border: 0px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
.lorem-ipsum {
  padding: 94px 0;
}
.list2 {
  margin-left: -30px;
}
.main-menu-tekst {
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 270px;
}
.lorem-ipsum-title {
  font-family: "roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  list-style-type: none;
  padding-bottom: 10px;
  justify-content: space-between;
}
.lorem-ipsum-item {
  font-family: "roboto";
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 30px;
}
.title2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  list-style: none;
  color: #212121;
  margin-bottom: 50px;
}
.picture {
  margin-bottom: 30px;
  margin-left: 30px;
}
.footer {
  background-color: #2f303a;
  color: #fff;
  padding: 60px 0;
  font-style: normal;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-decoration-line: none;
  display: inline-block;
}
.footer-logo-web {
  color: #2196f3;
}
.footer-logo-studio {
  color: #fff;
}
.footer-text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  list-style-type: none;
  color: #fff;
  margin-bottom: 9px;
  display: block;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.our-team-section {
  background-color: #f5f4fa;
}
